body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: white;
}

.widget-container {
    display: flex;
    justify-content: space-between; /* Adjusts spacing between widgets */
}

.container {
    display: flex;
    justify-content: space-between; /* Adjusts spacing between widgets */
}



.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.cell {
    background: #ffffff;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

.graph {
    grid-column: span 4;
    grid-row: span 2;
}

svg {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
}

.elevationGraph {
    width: 100%; /* Make it responsive */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Prevent it from exceeding the container */
}