body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

.widget-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 widgets per row */
    gap: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    border: 2px solid black; /* Outline around the widget container */
    padding: 10px; /* Optional: Add padding inside the border */
    overflow: hidden; /* Ensure content does not overflow */
    border-radius: 10px; /* Add rounded corners */
}

.cell {
    background: #fdfdfd;
    border-radius: 10px; /* Add rounded corners */
    padding: 10px;
    text-align: center;
}

.graph {
    grid-column: span 3; /* Make the graph span all columns */
    width: 100%;
    height: auto;
}

svg {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Ensure it doesn't exceed the container */
    max-height: 100%; /* Ensure it doesn't exceed the container */
}

.icon {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    max-width: 100px; /* Optional: Set a max width */
    max-height: 100px; /* Optional: Set a max height */
}

.cell.planet img {
    width: 50px; /* Set a specific width */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Ensure it doesn't exceed the container */
    max-height: 100%; /* Ensure it doesn't exceed the container */
}
.large-text {
    font-size: 24px;
}

.small-text {
    font-size: 14px;
}