/* General Styles */
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.title {
    color: white;
    text-align: center;
    padding-top: 10px;
    font-size: 18px;
}

/* Grid Container */
.grid-container {
    display: flex;
    overflow-x: auto; /* Add horizontal scroll bar */
    padding-top: 20px;
    margin-bottom: 20px;
    width: 100%; /* Ensure it fits the entire width of the page */
    justify-content: center; /* Center the grid items */
}

.grid-item {
    flex: 0 0 auto; /* Prevent items from shrinking or growing */
    text-align: center;
    background-color: black;
    color: white; /* Ensure text is visible on black background */
    border-radius: 8px;
    margin-right: 10px; /* Add some space between items */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; /* Added padding for grid items */
    font-size: 1.2em; /* Increased font size */
}

.legend{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.planet-info {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 5px;
    margin-bottom: 0px;
}

.planet-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.planet-image {
    margin-right: 10px;
    width: 100px; /* Increase the width */
    height: 100px; /* Increase the height */
}

.planet-name {
    font-size: 1.5em;
}

.planet-bottominfo{
    margin-bottom: 10px;
    text-align: left;
    color: grey;
    font-size: 10;
}

.until_class {
    color: grey;
    font-size: smaller;
}

/* Dynamic Text */
.dynamic-text {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

.widget-text {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    color: white;
}

/* Flex Grid */
.flex-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background-color: black;
    padding: 20px;
}

.flex-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #080808;
    color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
}

.flex-image {
    width: 20%;
    height: auto;
    margin-bottom: 10px;
}

.flex-text {
    text-align: center;
}

/* Widget Styles */
.widget {
    display: flex;
    flex-direction: column;
    background-color: #080808;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
}

.columns-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    font-size: 14px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.widgetColumn {
    padding-left: 20px;
    align-items: left;
}

.planet-image-widget {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
}

.constellation-image-widget {
    width: 200px;
    height: 200px;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 0px;
}

.action-button {
    background-color: transparent; /* Ensure the background is transparent */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-image: url('images/resources/open_btn.png'); /* Add your image path here */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px; /* Hide the text */
    width: 800px; /* Adjust the width to fit your image */
    height: 20px; /* Adjust the height to fit your image */
}

.action-button:hover {
    background-color: rgba(0, 0, 0, 0.5); /* Optional: Add a semi-transparent background on hover */
}


#sun-info-icon {
    width: 100px; /* Set the width to 50 pixels */
    height: auto; /* Maintain the aspect ratio */
    margin-right: 10px; /* Add some space between the image and the text */
}

.infos-wrapper {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: #080808;
    padding: 20px; /* Optional: Add padding around the container */
}

.infos {
    color: gray;
    border-radius: 8px; /* Optional: Add rounded corners */
    text-align: left; /* Align the text inside each .infos div */
    font-size: 14px; /* Specify the font size */
}
.bottomInfo{
    padding-left: 30px;
}

.action-button {
    display: flex;
    -ms-flex-align: start;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.weather-container {
    display: flex;
    overflow-x: auto; /* Add horizontal scroll bar */
    padding-top: 20px;
    margin-bottom: 20px;
    width: 100%; /* Ensure it fits the entire width of the page */
    justify-content: center; /* Center the forecast items */
}

.forecast-item {
    flex: 0 0 auto; /* Prevent items from shrinking or growing */
    text-align: center;
    background-color: black;
    color: white; /* Ensure text is visible on black background */
    border-radius: 8px;
    margin-right: 10px; /* Add some space between items */
}

.forecast-time {
    font-size: 0.8em; /* Adjust font size */
    margin: 0; /* Remove default margin */
}

.forecast-icon {
    width: 30px; /* Set a smaller width for the icons */
    height: 30px; /* Set a smaller height for the icons */
}

.forecast-temp {
    font-size: 0.8em; /* Adjust font size */
    margin: 0; /* Remove default margin */
}


/* Responsive Styles */
@media (max-width: 1200px) {
    .planet-image {
        width: 50px;
        height: 50px;
    }
    .planet-name {
        font-size: 1.4em;
    }
    .dynamic-text {
        font-size: 1em;
    }
    .action-button {
        width: 100%; /* Make the button full width */
        height: 30px; /* Adjust height for larger screens */
    }
}

@media (max-width: 992px) {
    .planet-image {
        width: 40px;
        height: 40px;
    }
    .planet-name {
        font-size: 1.3em;
    }
    .dynamic-text {
        font-size: 0.9em;
    }
    .flex-item {
        width: calc(50% - 40px);
    }
    .action-button {
        width: 100%; /* Make the button full width */
        height: 25px; /* Adjust height for medium screens */
    }
}

@media (max-width: 768px) {
    .planet-image {
        width: 30px;
        height: 30px;
    }
    .planet-name {
        font-size: 1em;
    }
    .dynamic-text {
        font-size: 0.8em;
    }
    .planet-name, .constellation-name {
        font-size: 1.2em;
    }
    .planet-image, .constellation-image {
        width: 30px;
        height: 30px;
    }
    .columns-container {
        grid-template-columns: 1fr;
    }
    .action-button {
        width: 100%; /* Make the button full width */
        height: 20px; /* Adjust height for smaller screens */
    }
}


